.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
}

button:disabled {
    cursor: not-allowed;
}

.example-tooltip-red {
    background: #b71c1c;
}

.spinner {
    display: flex;
    justify-content: center;
}