<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        <span>Task Manager</span>
        <span class="example-spacer"></span>
        <div style="font-size: 14px;">Welcome, <strong>{{userName}}</strong> </div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
</p>